<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Surf - Météo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="surf.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    </head>

    <style>
body {
    background-image: url(https://zupimages.net/up/20/49/26l6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#dropdown-list {
    overflow-y: scroll;
    max-height: 300px;
}
#windArrow {
    display: none;
}
    </style>

    <body class="bg-dark">


        <div class="container-fluid bg-dark text-black">
            <div class="w-100 row">
                <div class="col-sm-2"><!--<img src="https://zupimages.net/up/20/49/pvzo.png" alt="" width="100%" height="100%" />--></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-2 text-center "><img  src="https://zupimages.net/up/20/49/crhs.png"  alt="" width="100" height="100" /></div>
                <div class="col-sm-5"></div>

            </div>
        </div>

        <nav class="navbar navbar-expand-md bg-info navbar-dark">
            <a class="navbar-brand">Barre de navigation | </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>/accueil.php"> Accueil </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand">  Conditions météorologiques  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>/dechet.php"> Déchets </a>
                    </li>
                </ul> 

                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li class="dropdown order-1">
                        <a href="<%= url %>/espaceperso.php"><button type="button"  class="btn btn-danger "> Espace Personnel <span class="caret"></span></button></a>

                    </li>
                </ul>
            </div>
        </nav>
        <div class="w-100 row">

            <div class="col-sm-2 text-white">

            </div>
            <div class="col-sm-8">
                <div class="container-fluid pt-3 text-white">

                </div>  
                <div class="container-fluid bg-info text-black my-3 p-3">
                    <h2 align="center">Prévisions météorologiques :</h2>
                    <p> Cette rubrique vous permet de localiser des informations sur le spot que vous recherchez, veuillez écrire son nom :</p>
                    <form id="spot-finder" class="dropdown">
                        <input class="btn btn-secondary dropdown-toggle" autocomplete="off" data-toggle="dropdown" id="spot-finder-input" type="text" name="spot-name" placeholder="Localisation du spot"/>
                        <div id="dropdown-list" class="dropdown-menu">
                        </div>
                    </form>
                    <div id="data">
                        <canvas id="wind" width="400" height="100"></canvas>
                        <canvas id="tide" width="400" height="100"></canvas>
                        <canvas id="weather" width="400" height="100"></canvas>
                        <img id="windArrow" src="/arrow.png"/>
                    </div>
                </div>
                <br>         
            </div>
        </div>
        <script>
            <%- include('./script.js', { apiUrl: apiUrl, spots: spots }); %>
        </script>
    </body>
</html>
